@font-face {
  font-family: "Anton-Regular";
  src: url("./Anton-Regular.ttf") format("ttf");
  src: url("./Anton-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cabin-Medium";
  src: url("./Cabin-Medium.ttf") format("ttf");
  src: url("./Cabin-Medium.woff") format("woff");
}

@font-face {
  font-family: "GothicA1-Regular";
  src: url("./GothicA1-Regular.ttf") format("ttf");
  src: url("./GothicA1-Regular.woff") format("woff");
}
