./client/.env
./client/node_modules
client/*

./server/.env
./server/node_modules

server/controllers/user.ts
server/routes/user.route.ts
server/services/user.ts

constant.ts

package-lock.json
node_modules
